<% include ../header %>
    <body>
    <header>
        <legend>Bem-Vindo!</legend>
        <script type="text/javascript" src="/javascripts/index.js"></script>
    </header>
    <div class="container-fluid" id="containers-btn-cadastro">
        <button type="button" id="btn-cad" class="btn btn-primary btn-md center-block cadastro btn-lg">Cadastrar</button>
    </div>
    <br>
    <div id="cadastro">

        <form class="form-horizontal" id="form-cadastro">
            <fieldset>
                <legend>Cadastro</legend>
                
                <div id="div-nome" class="form-group">
                    <label class="col-md-4 control-label" for="nome" id="lb-nome">Nome</label>
                    <div class="col-md-4">
                        <input type="text" id="nome" placehouder="Nome" name="nome" class="form-control input-md">
                    </div>
                </div>
                <div id="div-dataNascimento" class="form-group">
                    <label class="col-md-4 control-label" for="dataNascimento" id="lb-data-nascimento">Data de Nascimento</label>
                    <div class="col-md-4">
                        <input type="text" id="dataNascimento" placehouder="Data de Nascimento" name="dataNascimento" class="form-control input-md">
                    </div>
                </div>
                <div id="div-cpf" class="form-group">
                    <label class="col-md-4 control-label" for="cpf" id="lb-cpf">CPF</label>
                    <div class="col-md-4">
                        <input type="text" id="cpf" placehouder="CPF" name="cpf" class="form-control input-md">
                    </div>
                </div>
                <div id="div-sexo" class="form-group">
                    <label class="col-md-4 control-label" for="sexo" id="lb-sexo">Sexo</label>
                    <div class="col-md-4">
                        <select id="sexo" name="sexo" class="form-control">
                            <option value="0"></option>
                            <option value="1">Feminino</option>
                            <option value="2">Masculino</option>
                        </select>
                    </div>
                </div>
                <div id="div-tipo" class="form-group">
                    <label class="col-md-4 control-label" for="tipo" id="lb-tipo">Tipo</label>
                    <div class="col-md-4">
                        <select id="tipo" name="tipo" class="form-control">
                            <option value="0"></option>
                            <option value="1">Passageiro</option>
                            <option value="2">Motorista</option>
                        </select>
                    </div>
                </div>
                <div id="div-modeloCarro" class="form-group">
                    <label class="col-md-4 control-label" for="modeloCarro" id="lb-modelo-carro">Modelo do Carro</label>
                    <div class="col-md-4">
                        <input type="text" id="modeloCarro" placehouder="Modelo do Carro" name="modeloCarro" class="form-control input-md">
                    </div>
                </div>
                <div id="div-status" class="form-group">
                    <label class="col-md-4 control-label" for="status" id="lb-status">Status</label>
                    <div class="col-md-4">
                        <select id="status" name="status" class="form-control">
                            <option value="1">Ativo</option>
                            <option value="2">Inativo</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>


        <!-- Botões -->
        <div class="form-group container-fluid btn-group">
            <div class="col-md-4">
                <button id="cancelar" name="cancelar" class="btn btn-danger">Cancelar</button>
            </div>
            <div>
                <button id="salvar" name="salvar" class="btn btn-primary">Salvar</button>
            </div>
        </div>
   
    </div>
    <div class="container-fluid" id="container-pesquisa">
        <div class="input-group">
            <input id="pesquisa" class="form-control" type="text" name="pesquisa" 
                placeholder="Pesquisa...">
            <div class="input-group-btn">
                <button type="button" id="pesquisar" class="btn btn-primary btn-md center-block"><i class="fa fa-search fa-2" aria-hidden="true"></i></button>
            </div>
        </div>
        <div id="opcoes-pesquisa" class="form-check form-check-inline">
            <label class="form-check-label">
                <input id="opcao-ambos" class="form-check-input" type="radio" name="tipo-pessoa" value="ambos" checked> Ambos
            </label>
            <label class="form-check-label">
                <input id="opcao-passageiro" class="form-check-input" type="radio" name="tipo-pessoa" value="passageiro"> Passageiro
            </label>
            <label class="form-check-label">
                <input id="opcao-motorista" class="form-check-input" type="radio" name="tipo-pessoa" value="motorista"> Motorista
            </label>
        </div>
    </div>
    <div id="resultados" class="table thead-light">
        
    </div>
    <%include ../footer %>
    </body>
</html>